<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <urlCompression doStaticCompression="true" doDynamicCompression="true" />

        <staticContent>
            <clientCache
                cacheControlMode="UseMaxAge"
                cacheControlMaxAge="365.00:00:00"
            />
        </staticContent>

        <httpProtocol>
            <customHeaders>
                <add
                    name="X-Content-Type-Options"
                    value="nosniff"
                />
                <add
                    name="Referrer-Policy"
                    value="strict-origin-when-cross-origin"
                />
            </customHeaders>
        </httpProtocol>
    </system.webServer>
</configuration>
